<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .wrapper{
        width: 1200px;
        height: 600px;
        border-style: double;
        border-width: 5px;
        margin: auto;
        display: inline-block;
        margin: auto;
    }
</style>
<body>
    <h1>User {{users.id}}</h1>
    <h3>Full Name: {{users.full_name}}</h3>
    <h3>Email: {{users.email}}</h3>
    <h3>Created at: {{users.created_at}}</h3>
    <a href='/users/edit/{{users.id}}'>Edit</a>
    |
    <a href='/users/{{users.id}}/destroy'>Delete</a>
</body>